@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: white;
    margin: 1rem;
}

header,
footer {
    background-color: #131921;
    color: white;
}

h2,
footer p,
p#back {
    padding-left: 1rem;
}

p {
    margin: 0;
}

p#back {
    background-color: #242F41;
    margin-top: 0.5em;
}

p#back a:link,
p#back a:visited {
    color: white;
}

p#back a:hover {
    color: lightgrey;
}

h1 {
    background-color: #242F41;
    color: white;
    padding-left: 1rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: center;
    height: 40px;
    width: 40px;
    white-space: nowrap;
    height: 1rem;
    width: 1rem;
}

th span {
    display: inline-block;
    transform: rotate(-90deg);
    width: 1rem;
}

.quadrado {}

.quadrado:hover {}

.ob3 {
    color: #990000;
}

.ob2 {
    color: #CC0000;
}

.ob1 {
    color: red;
}

.sobre {
    color: yellow;
}

.ideal {
    color: #00FF00;
}

.baixo {
    color: blue;
}

.baixog {
    color: #0000CC;
}

.baixomg {
    color: #000099;
}

.ob3:hover,
.ob2:hover,
.ob1:hover,
.baixo:hover,
.baixog:hover,
.baixomg:hover {
    opacity: 0.3;
}

.sobre:hover,
.ideal:hover{
    filter: brightness(70%);
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 1.1px;
    font-size: 1rem;
    line-height: 1.1;
}